body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
/* -------------- FONTS -------------------*/
body {
    font-family: georgia, serif;
    line-height: 1.7em;
}
.nav,
#linkList,
.event .date {
    font-family: century gothic, arial;
}
.title {
    font-weight: bold;
}
.event .description {
    color: rgba(0,0,0,0.6);
}

/* -------------- COLOURS & BGS -------------------*/
body {
    color: #222;
    background: #ddd url(static/img/paper_fibers.png) repeat;
}
.pageContainer {
    background-color: #fff;
}
.banner .bg {
    background-color: #683b1d;

    /*background: -moz-linear-gradient(top, #492c0c, #7b4417);
    background: -webkit-linear-gradient(top, #18253d, #29416a);
    background: -ms-linear-gradient(top, #492c0c, #7b4417);
    background: -o-linear-gradient(top, #492c0c, #7b4417);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#492c0c', endColorstr='#7b4417' );
    background: linear-gradient(top, #492c0c, #7b4417);*/
}
.nav li a{
    color: #fff;
    text-decoration: none;
}
#linkList li a,
.event .date {
    color: #222;
    text-decoration: none;
}
/*.nav li a,
#linkList li a {
    text-shadow: 0 0 10px #000;
}*/
.nav li a:hover,
#linkList li a:hover {
    text-decoration: underline;
}
#linkList li {
    background-color: rgb(221,202,173);
}
.event .date {
    background-color: #ddd;
}

/* -------------- MARGINS -------------------*/
.main {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 8px;
}
.time.address {
    margin-right: 25px;
}

/* -------------- POSITIONING -------------------*/
img.float-left {
    float: left;
    padding: 0 15px 15px 0;
    max-height: 200px;
}
img.float-right {
    float: right;
    padding: 0 0 15px 15px;
    max-height: 200px;
}
.pageContainer {
    width: 1000px;
    margin: 0px auto;
    text-align: left;
}
.banner .pageContainer {
    width: 1050px;
}
.banner .bg {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.banner {
    position: relative;
    z-index: 1;
}
.banner .bg {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #3b2925;
}
.logoContainer {
    position: absolute;
    margin-left: 10px;
}
#logo {
    float: left;
    width: 204px;
    height: 111px;
}
.nav ul {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}
.nav li {
    list-style: none;
    text-indent: 0px;
}
.nav {
    float: right;
    padding-right: 25px;
}
.nav ul {
    float: right;
    padding: 13px 0;
}
.nav td {
    text-align: center;
    font-size: 16px;
}
.nav li {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 0 50px;
}
.nav li:first-child {
    margin-left: 0px;
}
.time.address {
    float: right;
    padding: 10px 0 40px 0;
}
.time.address li {
    display: inline-block;
    padding-left: 50px;
}

#linkList {
    float: right;
}

#linkList li {
    list-style: none;
    width: 12em;
    height: 15ex;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
}
.campfire,
.event {
    display: inline-block;
}
.event .date,
.event .content {
    float: left;
}
#campfireImg {
    background-image:url('../img/honne-campfire.jpg');
    background-position: center center;
    height: 280px;
}
#campfireImg,
#eventList,
.event {
    width: 700px;
}
#eventList {
    margin-bottom: 30px;
}
.event .date {
    height: 60px;
    width: 70px;
    padding: 6px 0 4px 0;
    vertical-align: center;
}
.event .content {
    height: 60px;
    width: 620px;
    padding: 5px 0 0 10px;
}
.date span {
    display: block;
    font-size: 22pt;
    text-align: center;
}
.date .small {
    font-size: 11pt;
    line-height: 10pt;
}

footer {
    clear: both;
    background-color: #333;
    padding: 5px;
    color: #fff;
    font-size: small;
}
footer * {

}
td {
    vertical-align: top;
}
.CR-groups,
.CR-group-categories {
    margin-left: 0px;
    padding-left: 0px;
    text-indent: 0px;
}
.CR-group-categories {
    font-weight: bold;
    margin: 0;
}
.CR-groups {
    font-weight: normal;
    margin-left: 20px;
}
.CR-groups>li,
.CR-group-categories>li {
    list-style: none;
}
.main {
    clear: both;
}
h4 {
    margin-bottom: 0;
}
h4+p {
    margin-top: 0;
}

.contacts img {
    height: 145px;
}
.contacts ul {
    margin: 4px 40px;
    padding: 0px;
}
.contacts li {
    list-style: none;
}
.contacts tr:nth-child(even) td:nth-child(2) {
    background-color: #EEF
}

.buble {
    *display: none;
}