@charset "UTF-8";

body {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
/* -------------- FONTS -------------------*/
body {
    font-size: 14px;
    font-family: helvetica, arial, sans-serif;
    line-height: 1.7em;
}
nav.toc {
    line-height: 1.2em;
}
.nav,
#linkList,
.event .date {
    font-family: 'century gothic', arial, sans-serif;
}
.title {
    font-weight: bold;
}
.event .description {
    color: rgba(0,0,0,0.6);
}
blockquote {
    font-size: 18px;
    padding: 0;
    margin: 0;
    line-height: 1.7em;
    padding-bottom: 10px;
}

/* -------------- COLOURS & BGS -------------------*/
body {
    color: #222;
    background: #ddd url('../img/paper_fibers.png') repeat;
}
.pageContainer {
    background-color: #fff;
}
.banner .bg {
    background-color: #683b1d;
}
.nav li a {
    color: #fff;
    text-decoration: none;
}
#linkList li a,
.event .date {
    color: #222;
    text-decoration: none;
}
.nav li a:hover,
#linkList li a:hover {
    text-decoration: underline;
}
#linkList li {
    background-color: rgb(221,202,173);
}
.event .date {
    background-color: #ddd;
}

/* -------------- MARGINS -------------------*/
.main {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
}
.time.address {
    margin-right: 50px;
}
nav.toc li {
    margin-bottom: 7px;
}

/* -------------- POSITIONING -------------------*/
.clear {
    clear: both;
}
img.float-left {
    float: left;
    padding: 0 15px 15px 0;
    max-height: 200px;
}
img.float-right {
    float: right;
    padding: 0 0 15px 15px;
    max-height: 200px;
}
.float-clear {
    clear: both;
}
.pageContainer {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}
.banner .bg {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.banner {
    position: relative;
    z-index: 1;
}
.banner .bg {
    min-width: 1000px;
    height: 40px;
    border-bottom: 1px solid #3b2925;
}
.logoContainer {
    position: absolute;
    margin-left: 10px;
}
.logoContainer a, .logoContainer img {
    border: 0;
}
#logo {
    float: left;
    width: 204px;
    height: 111px;
}
.nav ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
}
.nav li {
    list-style: none;
    text-indent: 0;
}
.nav {
    float: right;
    padding-right: 0;
}
.nav ul {
    float: right;
    padding: 10px 0;
}
.nav td {
    text-align: center;
    font-size: 16px;
}
.nav li {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 0 50px;
}
.nav li:first-child {
    margin-left: 0;
}
.time.address {
    float: right;
    padding: 0 0 20px 0;
}
.time.address li {
    display: inline-block;
    padding-left: 50px;
}

#linkList {
    float: right;
}

#linkList li {
    list-style: none;
    width: 12em;
    height: 15ex;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
}
.campfire,
.event {
    display: inline-block;
}
.event .date,
.event .content {
    float: left;
}
#campfireImg {
    background: url('../img/honne-campfire.jpg') center center;
    background-size: cover;
    height: 280px;
    position: relative;
}
#campfireImg div {
    color: #fff;
    font: 30px impact, helvetica, arial, sans-serif;
    -webkit-text-stroke: 1.5px #000;
    vertical-align: bottom;
    text-align: right;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: block;
}

#campfireImg,
#eventList,
.event {
    width: 650px;
}
#eventList {
    margin-bottom: 30px;
}
.event .date {
    height: 60px;
    width: 70px;
    padding: 15px 0 4px 0;
    vertical-align: middle;
}
.event .content {
    height: 60px;
    width: 570px;
    padding: 0 0 0 10px;
}
.date span {
    display: block;
    font-size: 22pt;
    text-align: center;
}
.date .small {
    font-size: 11pt;
    line-height: 10pt;
}

footer {
    clear: both;
    background-color: #333;
    padding: 5px;
    color: #aaa;
    font-size: small;
}
footer * {

}
td {
    vertical-align: top;
}
.CR-groups,
.CR-group-categories {
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}
.CR-group-categories {
    font-weight: bold;
    margin: 0;
}
.CR-groups {
    font-weight: normal;
    margin-left: 20px;
}
.CR-groups>li,
.CR-group-categories>li {
    list-style: none;
}
.main {
    clear: both;
}
h4 {
    margin-bottom: 0;
}
h4+p {
    margin-top: 0;
}

.contacts img {
    height: 145px;
}
.contacts ul {
    margin: 4px 40px;
    padding: 0px;
}
.contacts li {
    list-style: none;
}
.contacts tr:nth-child(even) td:nth-child(2) {
    background-color: #EEF
}

.buble {
    *display: none;
}


nav.toc {
    float: left;
    width: 200px;
    margin: 0 40px 0 -40px;
}
nav.toc li {
    list-style: none;
}
nav.toc a {
    text-decoration: none;
    display: block;
    color: #888;
}
nav.toc a:hover {
    color: #000;
}

.beside-toc {
    float: left;
    width: 700px;
}

.bottom-of-contents {
    clear: both;
    height: 0;
}

.top.contact {
    text-align: left;
    float: left;
    padding-right: 20px;
    padding-left: 10px;
    margin-right: 20px;
    border-bottom: 1px solid #ddd;
}
.top.imagequote {
    padding: 20px 10px 0 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.top img {
    padding-bottom: 30px;
}
.quotesayer {
    text-align: right;
}
