<!DOCTYPE HTML>
<html>
    <head>
        <title>Lincoln Road Chapel</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
    {% if true %} {% endif %}
    <body>
        <div id="pageContainer">
            <header>
                <img id="logo" src="logo.jpg" width="125" height="58"/>
                <div>
                    <nav>
                        <ul>
                            <li class="contact"><a href="contact.html">Contact</a></li>
                            <li class="about"><a href="about.html">About</a></li>
                            <li class="programs"><a href="programs.html">Programs</a></li>
                            <li class="sermons"><a href="sermons.html">Sermons</a></li>
                            <li class="calendar"><a href="calendar.html">Calendar</a></li>
                        </ul>
                    </nav>
                    <time>Sunday Services - 9:30am, 11:00am</time>
                    <address><a href="directions.html">145 Lincoln Road, Waterloo ON</a></address>
                </div>
            </header>

            <!-- img id="campfire" 
                     style="background-image:url('honne-campfire.jpg'); 
                            background-position: center center;" 
                     width="760" 
                     height="280"/ -->

            {{ content }}

            <footer>All glory to the hypnotoad.</footer>
        </div>
    </body>
</html>